@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Madimi One", sans-serif;
  color: var(--font-color);
  user-select: none;
}
:root[data-color-mode="light"] {
  --special-characters-BG: #bbab8c;
  --special-characters-BG-hover: rgba(187, 171, 140,0.8);
  --dark-mode-color: #FDF7E4;
  --numbers-back-color: #ded0b6;
  --numbers-back-color-hover: rgba(222, 208, 182,0.8);
  --equal-back-color: rgb(182, 115, 82);
  --equal-back-color-hover:rgba(182, 115, 82,0.8);
  --buttons-font-size: 2.5rem;
  --output-previous-operand: 2rem;
  --output-current-operand: 3rem;
  --sperator-border-color:none;
  --history-card-backcolor:#FFC5C5;
  --history-message-font-size:1.2rem;
  --dark-mode-box-shadow: inset 0 0 5px   rgba(146, 146, 146, 0.801);
  --dark-mode-button-background:white;
  --font-color:#3E3232;
  --dark-mode-overlay:#222831;
}
:root[data-color-mode="dark"] {
  --special-characters-BG: rgb(0, 173, 181);
  --special-characters-BG-hover: rgba(0, 173, 181,.5);
  --dark-mode-color: #222831;
  --numbers-back-color: rgba(57, 62, 70);
  --numbers-back-color-hover: rgba(57, 62, 70,0.5);
  --equal-back-color: #F9ED69;
  --equal-back-color-hover:rgba(249, 237, 105,.5) ;
  --buttons-font-size: 2.5rem;
  --output-previous-operand: 2rem;
  --output-current-operand: 3rem;
  --sperator-border-color:#eeeeee93;
  --history-card-backcolor:#FF2E63;
  --history-message-font-size:1.2rem;
  --dark-mode-box-shadow: inset 0 0 25px 5px  rgba(0, 0, 0, 0.801);
  --dark-mode-button-background:white;
  --font-color:white;
  --dark-mode-overlay:#222831;
}
button{
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.calculator-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows:minmax(200px,1fr) repeat(4, 1fr);
  width: 100%;
  height: 100vh;
  background-color: var(--dark-mode-color);
  transition: 0.2s linear;
}
.calculator-output {
  grid-column: 1/-2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
 position: relative;
}
.night-mode-icon-container{
position: absolute;
top: 10px;
left: 10px;
width: 50px;
height: 50px;
border-radius: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
box-shadow: var(--dark-mode-box-shadow);
background-color: var(--dark-mode-button-background);
cursor: pointer;
z-index: 10;
}
.night-mode-icon{
  width: 60%;
  height: 60%;
  pointer-events: none;

}
.previous-operand {
  font-size: var(--output-previous-operand);
}
.current-operand {
  font-size: var(--output-current-operand);
}
.calculator-history {
  grid-column: -2 / -1;
  grid-row: 1 / -1;
  padding: 1rem;
  border-left: 1px solid var(--sperator-border-color);
  overflow-y: auto;
  position: relative;
  overflow-x: hidden;
}
.calculator-buttons-container {
  grid-column: 1 / -2;
  grid-row: 2/-1;
  gap: 2px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  z-index: 1;
}
.span-two {
  grid-row: span 2;
}
.calculator-buttons-container > button {
  outline: none;
  border: none;
  font-size: var(--buttons-font-size);
  cursor: pointer;
  border-radius: 5px;
}
.calculator-buttons-container > button[data-in] {
  background-color: var(--numbers-back-color);
  box-shadow: inset 0 0 2px var(--dark-mode-color);
  transition: 0.2s ease;
}
.calculator-buttons-container > button[data-out] {
  background-color: var(--special-characters-BG);
  box-shadow: inset 0 0 2px var(--numbers-back-color);
  transition: 0.2s ease;
}
.calculator-buttons-container > button[data-in]:hover {
  background-color: var(--numbers-back-color-hover);
  box-shadow: inset 0 0 8px var(--dark-mode-color);
}
.calculator-buttons-container > button[data-out]:hover {
  background-color: var(--special-characters-BG-hover);
  box-shadow: inset 0 0 8px var(--numbers-back-color);
}
.equal-sign {
  background-color: var(--equal-back-color);
  box-shadow: inset 0 0 2px var(--dark-mode-color);
  transition: 0.2s ease;
}
.equal-sign:hover {
  background-color: var(--equal-back-color-hover);
  box-shadow: inset 0 0 8px var(--dark-mode-color);
}

.clear-history{
  background: none;
  outline: none;
  border: none;
  background-color: var(--special-characters-BG);
  padding: .5rem 1rem;
  border-radius: 40px;
  cursor: pointer;

}
.histroy-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
 
}
.history-card{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.427);
  background-color: var(--history-card-backcolor);
  border-radius: 5px;
  margin-top: 1rem;
}
.left-side{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.statement{
  margin-bottom: 0.5rem;
}
.history-time-of-commit{
  margin-bottom: .5rem;
}
.right-side{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  order: 2;
}
.history-message{
  position: absolute;
  top: 50%;
  left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
   font-size: var(--history-message-font-size);
  width: 100%;



}
::-webkit-scrollbar {
  width:0; /* Width of the scrollbar */
}
.slide-in{
  animation: slide-in-blurred-left 0.2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;

}
.clear-history> i{
  pointer-events: none;
}
.d-none{
  display: none;
}
.delete-history > i{
  pointer-events: none;
}
.slide-out{
  animation: slide-out-blurred-right 0.7s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}
.swirl-out{
  animation: swirl-out-bck 0.6s ease-in both;
}
.swirl-in{
  animation: swirl-in-fwd 0.6s ease-out both;

} 
.dark-mode-overlay{
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--dark-mode-overlay);
 transition: 0.2s linear;
 width: 100%;
 height: 100%;
 clip-path: circle(140.4% at 1% 1%);
 
 
}
.remove-overlay{
  clip-path: circle(0% at 0 0);
}

/* key frames */
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-out-blurred-right {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) scaleX(2) scaleY(0.2);
            transform: translateX(1000px) scaleX(2) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
}
@keyframes swirl-out-bck {
  0% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
}
@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}
